h1 {
    font-weight: bold;
    color: #c82e0d;
    font-size: 32px;
}

#in {
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    font-family: Dialog;
}

#myText {
    margin: auto;
    margin-bottom: 10px;
}

button {
    font-size: 20px;
}

body {
    background-image: url("background.jpg");
}

section {
    margin: auto;
    text-align: center;
    /*border: 3px solid rebeccapurple;*/
}